#menuNoticias{
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-width: 1152px;
    width: 1152px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 90px;
}

.titularNoticias{
    text-align: left;
    margin:auto;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.descripcionNoticia{
    width: 90%;
    text-align: left;
    padding-bottom:20px;
    margin-left: 40px;
}
#tituloNoticia{
    font-size:20px;
    padding-top: 20px;
}
#menuNoticias{
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-width: 1152px;
    width: 1152px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 90px;
}

#texto {
    border: solid 1px black;
    color: black;
    height: 30px;
    font-size: 20px;
}

#titular {
    border: solid 1px black;
    color: black;
    height: 30px;
    font-size: 20px;
}

#leftColNot{
    width: 62%;
    margin-left: 50px;
    height: 100%;
    margin-right: 10px;
}
#menuNot{
    min-width: 1200px;
    width: 1240px;
    margin: auto;
    margin-bottom: 20px;
}
.subTitulo{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 15px auto;
    text-decoration: underline;
}
.dateNew{
    color: #FF4655;
    margin-left: 40px;
}
.titleNew{
    color: white;
    text-align: center;
}

button {
    background: white;
    border: solid 1px black;
    color: black;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

span {
    margin: 5px 3px;
}

.nav li div {
    display:none ;
    position:absolute;
}
