.card_face {
  position: absolute;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card_face_front {
  width: 310px;
  height: 150px;
}

.card_face_back {
  width: 310px;
  height: 150px;
  transform: rotateY(180deg);
}
.card2 {
  width: 310px;
  height: 150px;
  margin-right: 15px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.scene {
  margin: 15px auto;
  width: 1000px;
  perspective: 600px;
}
.card2.is-flipped {
  transform: rotateY(-180deg);
}
.center{
  background-position: 10%;
  height: 399px;
}