.agent-item{
	width: 250px; 
	height: 150px; 
	float: left; 
	background-color: #FF4655
}
.agent-item-margin{
	margin-left:15px;
}
@media only screen and (min-width: 768px) {
	.agent-item{
		width: 500px

		background-color: #FF4655
	}
	.agent-item-margin{
	}
}