#mainNav.navbar-shrink {
  background-color: #0F1923;
  color: #FF4655;
}

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
  color: white;
}

#mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
  color: #FF4655;
}

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #FF4655;
}

.navbar navbar-light navbar-expand-lg fixed-top {
  background-color: #0F1923;
  color: #FF4655;
}

.nav-item:hover {
  font-size: 20px;
  color: #FF4655;
}

nav#mainNav.navbar navbar-light navbar-expand-lg fixed-top {
  background-color: #0F1923;
  color: #FF4655;
}

#mainNav {
  background-color: #0F1923;
  border-bottom: 1px solid rgba(33,37,41,.1);
  transition: all .2s;
}

.bg-primary {
  background-color: #0F1923!important;
}

.btn.btn-primary.visible.btn-circle:hover {
  background-color: #FF4655!important;
}

.btn.btn-link.btn-circle:hover {
  background-color: #FF4655!important;
}

.text-white {
  color: rgb(255,112,9)!important;
}

#mainNav {
  border-bottom: 2px solid #FF4655;
  /*background-color: #fff;*/
  transition: all .2s;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FF4655;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #FF4655;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #FF4655;
}

a, a:hover {
  color: #FF4655;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #FF4655;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: color: #FF4655;
  color: #FF4655;
}

#mainNav .navbar-brand {
}

#mainNav .navbar-brand {
  color: #FF4655;
}

